<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/startup/flat-ui/images/favicon.ico">

        <link rel="stylesheet" href="/startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/startup/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/startup/common-files/css/animations.css">
        <link rel="stylesheet" href="/static/css/contact.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>i2i Contacts</title>
    </head>

    <body>
    <div class="page-wrapper">
      <header class="header-1">
              <div class="container">
                  <div class="row">
                      <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle"></button>
                              <a class="brand" href="/"><img src="/img/logo.png" width="50" height="50" alt=""></a>
                          </div>
                          <div class="navbar-collapse collapse">
                              <ul class="nav pull-right">
                                  <li>
                                      <a href="/">HOME</a>
                                  </li>
                                  <li>
                                      <a href="/#about" data-scroll>ABOUT</a>
                                  </li>
                                  <li class='dropdown'>
                                      <a href="/#offer" data-scroll class='dropdown-toggle' aria-haspopup="true" aria-expanded="false">EDUCATION&middot;CONSULTING  &dtrif;</a>
                                      <ul class='dropdown-menu'>
                                          <li><a href='/customer-insight-innovation'>CUSTOMER INSIGHT INNOVATION</a></li>
                                          <li><a href='/disruptive-innovation'>DISRUPTIVE INNOVATION</a></li>
                                          <li><a href='/startup360'>STARTUP360</a></li>
                                          <li><a href='/custom-service'>CUSTOM SERVICES</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/research">RESEARCH</a>
                                  </li>
                                  <li>
                                      <a href="/clients">CLIENTS</a>
                                  </li>
                                  <li class='dropdown'>
                                      <a href="/people" class='dropdown-toggle' aria-haspopup="true" aria-expanded="false">TEAM &dtrif;</a>
                                      <ul class='dropdown-menu'>
                                          <li><a href="/people#advisors">ADVISORY BOARD</a></li>
                                          <li><a href="/people#management">MANAGEMENT TEAM</a></li>
                                          <li><a href="/people#mentors">MENTORS</a></li>
                                          <li><a href="/people#founding">STARTUP TEAM</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                    <a href="/events">EVENTS</a>
                                  </li>
                                  <li>
                                      <a href="/contact">CONTACT US</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </header>
<section class="header-1-sub">
    <div id="pt-main" class="page-transitions pt-perspective">
        <div class="pt-page pt-page-1">
            <div class="background">&nbsp;</div>
            <div class="caption">
                <div class="container">
                    <h3 style='text-align: center;'><span>Contact Us Today</span></h3>
                    <!-- <p class="lead">You have the design, you have the code</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts-3">
    <div class="container" id='row1'>
        <div class="row">
            <div class="col-sm-5">
                <h3>Dr. CJ Meadows, Director</h3>
                <p>10 Hydrabad Road (Off Alexandra Road)<br>Singapore 119579</p>
                <div class="links">
                    <a href="tel:65-6270-4748"><span class="fui-phone"></span> +65 6270 4748</a><br>
                    <a href="mailto:cj.meadows@spjain.org"><span class="fui-mail"></span> cj.meadows@spjain.org</a>
                </div>
                <!-- <h6>Where to find us</h6>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p> -->
                <div class="map">
                    <!--map-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.292239126848!2d103.79965321431615!3d1.2797893621541154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1bc62905684f%3A0x8f8dc3de54f03b7b!2s10+Hyderabad+Rd%2C+Singapore+119579!5e0!3m2!1sen!2ssg!4v1466270516141" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <h3>Prof. Chris Abraham</h3>
                <p>Block 5 Dubai International Academic City PO Box 502345 Dubai, UAE</p>
                <div class="links">
                    <a href="tel:971-4-429-1234"><span class="fui-phone"></span> +971 4 429 1234</a><br>
                    <a href="mailto:chris@spjain.org"><span class="fui-mail"></span> chris@spjain.org</a>
                </div>
                <!-- <h6>Where to find us</h6>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p> -->
                <div class="map">
                    <!--map-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14449.343433092146!2d55.402819264804734!3d25.124333681847947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f638c29e5f7db%3A0x89a4164a1101c007!2sS+P+Jain+School+of+Global+Management!5e0!3m2!1sen!2ssg!4v1466270744428" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-sm-offset-1">
                <h3>You can mail us</h3>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p>
                <form>
                    <label class="h6">Name / Last Name</label>
                    <input type="text" class="form-control">
                    <label class="h6">E-mail</label>
                    <input type="text" class="form-control">
                    <label class="h6">Message</label>
                    <textarea rows="7" class="form-control"></textarea>
                    <button type="submit" class="btn btn-primary"><span class="fui-mail"></span></button>
                </form>
            </div> -->
        </div>
    </div>
    <div class="container" id='row2'>
        <div class="row">
            <div class="col-sm-5">
                <h3>Dr. Vishal Talwar</h3>
                <p>First Floor, Trade Point Kamala Mills Lower Parel Mumbai 400013 India</p>
                <div class="links">
                    <a href="tel:91-88-0042-4411"><span class="fui-phone"></span> +91 88 0042 4411</a><br>
                    <a href="mailto:amit.dasgupta@spjain.or"><span class="fui-mail"></span> vishal.talwar@spjain.org</a>
                </div>
                <!-- <h6>Where to find us</h6>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p> -->
                <div class="map">
                    <!--map-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15089.378596766363!2d72.817701767413!3d19.00452885915473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce934271cebd%3A0x7807b9e30ab8f9e8!2sS+P+Jain+School+of+Global+Management!5e0!3m2!1sen!2ssg!4v1466271089513" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <h3>Dr. Partha Mukherjee</h3>
                <p>5 Figtree Dr, Sydney NSW 2127,<br>Australia</p>
                <div class="links">
                    <a href="tel:61-2-8970-6837"><span class="fui-phone"></span> +61 2 8970 6837</a><br>
                    <a href="mailto:partha.mukerjee@spjain.org"><span class="fui-mail"></span> partha.mukerjee@spjain.org</a>
                </div>
                <!-- <h6>Where to find us</h6>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p> -->
                <div class="map">
                    <!--map-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13254.293751206225!2d151.06156446795342!3d-33.84910962546794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12a4b5f82dcc65%3A0x9fb87ad2c587d5ce!2sS+P+Jain+School+of+Global+Management!5e0!3m2!1sen!2ssg!4v1466271212560" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-sm-offset-1">
                <h3>You can mail us</h3>
                <p>As a Harvard professor, he was one of the first to explore the relationship in equilibrium.</p>
                <form>
                    <label class="h6">Name / Last Name</label>
                    <input type="text" class="form-control">
                    <label class="h6">E-mail</label>
                    <input type="text" class="form-control">
                    <label class="h6">Message</label>
                    <textarea rows="7" class="form-control"></textarea>
                    <button type="submit" class="btn btn-primary"><span class="fui-mail"></span></button>
                </form>
            </div> -->
        </div>
    </div>
</section>
<footer class="footer-1 bg-midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <img class='img-responsive i2i-logo' src='/img/logo.png' width="67" height="67" alt="Logo">
            </div>
            <nav>
                <div class="col-md-2 col-xs-12">
                    <h6>Site Map</h6>
                    <ul>
                        <li><a href="/#about" data-scroll>About</a></li>
                        <li><a href="/#offer" data-scroll>Education&middot;Consulting</a></li>
                        <li><a href="/research">Research</a></li>
                        <li><a href="/clients">Clients</a></li>
                        <li><a href="/people">Team</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-12">
                    <h6>Contact Us</h6>
                    <ul>
                        <li><a href="mailto:hello@innovationi2i.com"><span class="glyphicon glyphicon-envelope"></span>  hello@innovationi2i.com</a></li>
                        <li><a href="/contact#row1"><span class="glyphicon glyphicon-map-marker"></span> Singapore</a></li>
                        <li><a href="/contact#row1"><span class="glyphicon glyphicon-map-marker"></span> Dubai</a></li>
                        <li><a href="/contact#row2"><span class="glyphicon glyphicon-map-marker"></span> Mumbai</a></li>
                        <li><a href="/contact#row2"><span class="glyphicon glyphicon-map-marker"></span> Sydney</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12">
                    <h6>Established as part of</h6>
                    <a href="//www.spjain.org"><img class="img-responsive" src="/img/logos/spjain.png" style="height: 100px;"/></a>
                </div>
                <div class="col-md-2 col-xs-12">
                    <h6>Get more info</h6>
                    <a class="btn btn-default brochure-btn" href="https://github.com/OrendeHQ/i2i/raw/gh-pages/documents/i2i@SPJain-Brochure.pdf">Download Our Brochure</a>
                </div>
            </nav>
        </div>
        <div class='row'>
            <div class="social-btns pull-right">
                    <a href="https://www.facebook.com/SP-Jain-School-of-Global-Management-336344946398054/?fref=ts" target="_blank">
                        <div class="fui-facebook"></div>
                        <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/SPJainGlobal" target="_blank">
                        <div class="fui-twitter"></div>
                        <div class="fui-twitter"></div>
                    </a>
                    <a href="https://www.linkedin.com/pulse/i2i-innovation-insights-center-p-jain-school-global-shareff-uthuman" target="_blank">
                        <div class='fui-linkedin'></div>
                        <div class='fui-linkedin'></div>
                    </a>
              </div>
        </div>
    </div>
</footer>            <!-- Placed at the end of the document so the pages load faster -->
            <script src="/startup/common-files/js/jquery-1.10.2.min.js"></script>
            <script src='/static/js/smooth-scroll.js'></script>
            <script>smoothScroll.init({speed:1500, offset:70})</script>
            <script>
                if ( window.location.hash ) {
                    var hash = smoothScroll.escapeCharacters(window.location.hash );
                    smoothScroll.animateScroll(hash);
                }
            </script>
            <script src="/startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="/startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="/startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="/startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="/startup/common-files/js/modernizr.custom.js"></script>
            <script src="/startup/common-files/js/page-transitions.js"></script>
            <script src="/startup/common-files/js/easing.min.js"></script>
            <script src="/startup/common-files/js/jquery.svg.js"></script>
            <script src="/startup/common-files/js/jquery.svganim.js"></script>
            <script src="/startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="/startup/common-files/js/froogaloop.min.js"></script>
            <script src="/startup/common-files/js/startup-kit.js"></script>
        </div>
    </body>
</html>
