@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

h1, h2, h3, h4, h5, h6, .box {
	font-family: "Montserrat" !important;
}

p, a {
	font-family: "Roboto Slab" !important;
	font-weight: 100;
}

.info, .quote-text, .quote-author, .col-sm-4 {
	font-family: "Roboto Slab" !important;
	font-weight: 100;
}