@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

h1, h2, h3, h4, h5, h6, .box {
	font-family: "Montserrat" !important;
}

p, a, li {
	font-family: "Roboto Slab" !important;
	font-weight: 100;
}

.info, .quote-text, .quote-author, .col-sm-4, .col-sm-3 {
	font-family: "Roboto Slab" !important;
	font-weight: 100;
}

.footer-1 {
	padding-top: 70px;
	padding-bottom: 30px;
}

.header-1 .navbar .nav > li > a {
	font-weight: 500!important;
	font-size: 14px;
	color: #000!important;
}

.content-4 .container .col-sm-4 img {
	margin-left: 20%;
}

.footer-1 {
	padding-top: 50px !important;
	padding-bottom: 30px !important;
}

.footer-1 nav h6 {
	margin-top: 20px;
}

.footer-1 .i2i-logo {
	padding-top: 20px;
}

.brochure-btn {
	background-color: #f6201d !important;
	color: #ffffff !important;
	/*margin-top: 20px;*/
}

.brochure-btn:hover {
	background-color: #ff5250 !important;
	color: #ffffff !important;
}

.header-1 .navbar .nav > li > a:hover, .header-1 .navbar .nav > li > a.active {
	color: #f6201d;
}

a {
  color: #f6201d;
}

a:hover {
  color: #ff5250;
}

a:focus {
  color: #ff5250;
}

.btn-inverse {
  background-color: #f6201d;
}

.btn-inverse:hover {
  background-color: #ff5250;
}

.navbar-overlay {
 	position: fixed;
 	display: block;
  width: 100%;
 	height: 125px;
 	background-color: rgba(255,255,255,0.8);
}

.header-antiflicker {
	background-color: rgba(255,255,255,1)!important;
}

.header-1-sub {
	background-color: #fff!important;
}

.dropdown .dropdown-menu li {
	background: #fff!important;
}

.dropdown .dropdown-menu li a {
	color: #000!important;
}

.dropdown .dropdown-menu li:hover {
	background: #000!important;
	opacity: 1!important;
}

.dropdown .dropdown-menu li:hover > a {
	color: #fff!important;
}

.header-1-sub h3 {
	text-align: left;
}

.header-1-sub .lead {
	text-align: left;
	padding: 0!important;
}

@media only screen and (min-width: 768px){
	.content-27 .col-sm-offset-1 {
	    margin-left: 0;
	}

	.header-1-sub .lead {
	  font-size: 30px;
	  padding: 0 200px;
	}
}

.header-1-sub #pt-main .pt-page .btn {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.4);
}

.header-1-sub #pt-main .pt-page .btn:hover {
  background-color: #ddd;
  color: #000;
  border: 2px solid #ddd;
}

@media (max-width: 991px) {
  a:focus + .dropdown-menu,
  a:focus + .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
