<footer class="footer-1 bg-midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <img class='img-responsive i2i-logo' src='/img/logo.png' width="67" height="67" alt="Logo">
            </div>
            <nav>
                <div class="col-md-2 col-xs-12">
                    <h6>Site Map</h6>
                    <ul>
                        <li><a href="#about" data-scroll>About</a></li>
                        <li><a href="#offer" data-scroll>Education&middot;Consulting</a></li>
                        <li><a href="/research">Research</a></li>
                        <li><a href="/clients">Clients</a></li>
                        <li><a href="/people">Team</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-12">
                    <h6>Contact Us</h6>
                    <ul>
                        <li><a href="mailto:hello@innovationi2i.com"><span class="glyphicon glyphicon-envelope"></span>  hello@innovationi2i.com</a></li>
                        <li><a href="/contact#row1"><span class="glyphicon glyphicon-map-marker"></span> Singapore</a></li>
                        <li><a href="/contact#row1"><span class="glyphicon glyphicon-map-marker"></span> Dubai</a></li>
                        <li><a href="/contact#row2"><span class="glyphicon glyphicon-map-marker"></span> Mumbai</a></li>
                        <li><a href="/contact#row2"><span class="glyphicon glyphicon-map-marker"></span> Sydney</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12">
                    <h6>Established as part of</h6>
                    <a href="//www.spjain.org"><img class="img-responsive" src="/img/logos/spjain.png" style="height: 100px;"/></a>
                </div>
                <div class="col-md-2 col-xs-12">
                    <h6>Get more info</h6>
                    <a class="btn btn-default brochure-btn" href="https://github.com/OrendeHQ/i2i/raw/gh-pages/documents/i2i@SPJain-Brochure.pdf">Download Our Brochure</a>
                </div>
            </nav>
        </div>
        <div class='row'>
            <div class="social-btns pull-right">
                    <a href="https://www.facebook.com/SP-Jain-School-of-Global-Management-336344946398054/?fref=ts" target="_blank">
                        <div class="fui-facebook"></div>
                        <div class="fui-facebook"></div>
                    </a>
                    <a href="https://twitter.com/SPJainGlobal" target="_blank">
                        <div class="fui-twitter"></div>
                        <div class="fui-twitter"></div>
                    </a>
                    <a href="https://www.linkedin.com/pulse/i2i-innovation-insights-center-p-jain-school-global-shareff-uthuman" target="_blank">
                        <div class='fui-linkedin'></div>
                        <div class='fui-linkedin'></div>
                    </a>
              </div>
        </div>
    </div>
</footer>
